<section class="post">
    <div class="post-img-div">
        <img src="/assets/icons/default.png" alt="Profile avatar">
    </div>
    <div class="post-profile">
        <a href="/user/{{user.username}}" target="_blank">{{user.username}}</a>
    </div>
    <div>
        <p class="post-p">{{content}}</p>
        <hr>
    </div>
    <p class="date-made">{{date_created}}</p>
</section>