<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <script src="https://kit.fontawesome.com/d9306d9c98.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Conditionally render login or logout links -->
        <nav>
            <div class="nav-container">
                <div class="home-div">
                    <a href="/"><h1>SHOUT</h1></a>
                    <a href="/"><i class="fa-solid fa-house fa-ani"></i></a>
                </div>
                <div>
                    {{#if logged_in}}
                    <a href="/user/{{user.username}}" data-user-id="{{user_id}}" class="btn"><i class="fa-solid fa-user"></i>profile</a>
                    <button data-open-logout class="btn" id="logout" onclick="openLogoutModal(event)"><i class="fa-solid fa-right-to-bracket"></i>logout</button>
                    <dialog data-modal-logout>
                        <div class="modal">
                            <h2>Logout?</h2>
                            <hr>
                            <div class="modal-wrapper logout-modal"> 
                                <button class="btn" onclick="handleLogout(event)">Yes</button>
                                <button class="btn" data-close-modal-logout onclick="closeLogoutModal(event)">No</button>
                            </div>
                        </div>
                    </dialog>
                    {{else}}
                    <button data-open-signin class="btn" onclick="openLoginModal(event)">login</button>
                    <a href="/login" class="btn">create account?</a>
                    <dialog data-modal-login>
                        <div class="modal">
                            <div>
                                <h4>Log in to SHOUT.</h4>
                            </div>
                            <p class="alert"></p>
                            <form class="signup-form" onsubmit="loginHandler(event)">
                                <input type="email" name="email" id="email-box" placeholder="Email">
                                <br>
                                <input type="password" name="password" id="password-box" placeholder="Password">
                                <br>
                                <div>
                                    <input type="submit" class="btn" value="Login" onclick="loginHandler(event);">
                                    <button class="btn" onclick="closeLoginModal(event)">cancel</button>                                    
                                </div>
                            </form>
                        </div>
                    </dialog>
                    {{/if}}
                </div>
            </div>
        </nav>

    <main class="main-wrapper">
        {{{ body }}}
    </main>

    <section data-alert class="pop-up">
        <p data-alert-text></p>
        <a href="/login" class="btn">login</a>
    </section>

    <footer>
      
    </footer>

<script src="/js/script.js"></script>

</body>

</html>
