<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Conditionally render login or logout links -->
    {{#if logged_in}}
        <nav>
            <div class="nav-container">
                <div>
                    <a href=""><h1>SHOUT</h1></a>
                </div>
                <div>
                    <a href="/profile" class="btn">profile</a>
                    <button data-open-logout class="btn" id="logout" onclick="openLogoutModal(event)">logout</button>
                    <dialog data-modal-logout class="modal">
                        <h2>Logout?</h2>
                        <div class="modal-wrapper logout-modal"> 
                            <button class="btn" onclick="handleLogout(event)">Yes</button>
                            <button class="btn" data-close-modal-logout onclick="closeLogoutModal(event)">No</button>
                        </div>
                    </dialog>
                </div>
            </div>
        </nav>
    {{/if}}

    <main class="main-wrapper">
        {{{ body }}}
    </main>


    <footer>
      
    </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/script.js"></script>
  {{/if}}
</body>

</html>
