<section class="container">
    <h1>Sign-up</h1>
    <p>Sign-up to experience Bundle at its best.</p>
    <form onsubmit="loginHandler(event)" class="signup-form">
        <input type="text" name="username" id="user-signup" placeholder="Username">
        <br>
        <input type="email" name="email" id="email-signup" placeholder="Email">
        <br>
        <input type="password" name="password1" id="password1-signup" placeholder="Password">
        <br>
        <input type="password" name="password2" id="password2-signup" placeholder="Confirm Password">
        <br>
        <input type="submit" onsubmit="signup(event)" class="btn" id="submit">Create Account</button>
    </form>
    <a href="/login">Go back</a>
</section>

<script src="./js/createlogin.js"></script>