<main class="main-content-wrapper"> 
    <section class="post-wrapper">
        <section class="post-box">
            <form class="post-form">
                <label for="postContent">What's on your mind?</label>
                <input data-post-title type="text" name="postTitle" id="postTitle" placeholder="Title">
                <textarea data-post-text type="text" name="postContent" id="postContent"></textarea>
                <input type="button" class="width100 btn" value="post" onclick="newPost(event)">
            </form>
        </section>
        <section class="post-container">
            {{#each posts as |post|}}
            {{> post-timeline}}
            {{/each}}          
        </section>

    </section>
</main>
