<main class="main-content-wrapper">
    <section class="post-wrapper">
        <section>
            <form onsubmit="newPost(event)" class="post-box">
                <label for="postContent">What's on your mind?</label>
                <textarea data-post-text type="text" name="postContent" id="postContent"></textarea>
                <input type="submit" class="btn" value="post">
            </form>
        </section>
        <section class="post-container">
            {{#each posts as |post|}}
            {{> post-timeline}}
            {{/each}}            
        </section>

    </section>
    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia.</p>
    </aside>
</main>
