<section class="container-login">
    <h2>Log in to Bundles</h2>
    <p class="alert"></p>
    <form onsubmit="loginHandler(event)">
        <input type="email" name="email" id="email-box">
        <input type="password" name="password" id="password-box">
        <input type="submit" value="Login" onclick="loginHandler();">
    </form>
    <br>
    <h2>Don't have an account?</h2>
    <a href="/signup" class="btn">Sign-up here!</a>
</section>

<script src="./js/login.js"></script>