<main class="main-content-wrapper">
    <section class="post-wrapper">
        <section class="post-box">
            
        </section>
    </section>
    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, mollitia.</p>
    </aside>
</main>
