<section>
    <p id="username-handle" data-username="{{profile.username}}">{{profile.username}}</p>
    <button type="button" onclick="followUser(event)" id="follow-user" class="follow-btn">Follow</button>
</section>

<script src="/js/script.js"></script>