@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/* ROOT */

:root {
    --text: 'Ubuntu', 'sans-serif';
    --bgdark: #050404;
    --textlight: #D3D3D3;
    --white-btn: #F5F3F4;
    --red-btn: #BA181B;
}

/* BODY */

body {
    background: var(--bgdark);
    color: var(--textlight);
    font-family: 'Arial', 'sans-serif';
}

/* BUTTON */

.btn {
  align-items: center;
  background-color: var(--white-btn);
  border: 2px solid var(--bgdark);
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--text),sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 1ch;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  touch-action: manipulation;
  transform: scale(0.8);
}

.width100 {
    width: 100%;
    transform: scale(1);
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  border-color: var(--red-btn);
  color: var(--red-btn);
  fill: var(--red-btn);
}

.btn:active {
  border-color: var(--red-btn);
  color: var(--red-btn);
  fill: var(--red-btn);
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

/* LOGIN WINDOW */

.loginWrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    margin: auto; 
    width: 55%;
    min-height: 100vh;
    align-content: center;
}

.loginWrapper h1, 
.loginWrapper h2,
.loginWrapper h3 {
    font-family: var(--text);
    text-transform: uppercase;
}

.loginWrapper h1 {
    font-size: 6ch;
}

.loginWrapper h2 {
    font-size: 3ch;
}

.loginWrapper h3 {
    font-size: 2ch;
}

.hr-vert {
    width: 100%;
    border: 2px solid var(--textlight);

}

.title {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 3rem;
    text-align: center;
}

.log-container {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    gap: 3rem;
}

.log-form {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    align-content: center;
}

.signin-div {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

/* SIGNUP FORM */

.signup-form {
    display: grid;
    grid-template-columns: 1fr;
}

.signup-form input {
    padding: 10px;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--white-btn);
    color: var(--bgdark);
}

nav h1 {
    font-size: 5ch;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:any-link {
    text-decoration: none;
}

h1::after{
    content: '.';
    color: var(--red-btn);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    width: 90vw;
    max-width: 60em;
    padding: 0.5rem 0;
}

/* WRAPPERS */

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.main-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    max-width: 60em;
    margin: 3rem 0;
    gap: 3rem;
    justify-items: center;
}

.post-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 100%;
    max-width: 30em;
}

aside {
    order: -1;
}

/* POST BOX */

.post-box,
.post {
    background: var(--white-btn);
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 5rem;
    border: 2px solid var(--bgdark);
}

.post-form {
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75rem;
    gap: 1rem;
}

/* POST CONTAINER */

.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* PROFILE NAME */

.post {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: 
    "one two"
    "one three"
    "one four";
    padding: 0.75rem;
    box-shadow: 0 10px 6px -6px var(--textlight);
}

.post-img-div {
    grid-area: one;
    height: 100px
}

.post img{
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 2px solid var(--red-btn);
}

.post-profile {
    display: flex;
    grid-area: two;
    background-color: #000;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    align-items: center;
}

.post-profile a {
    display: flex;
}

.post-p {
    color: var(--bgdark);
    padding: 0.5rem 0;
}

.post a:any-link {
    text-decoration: none;
    color: inherit;
}

.date-made {
    display: flex;
    justify-content: space-between;
    grid-area: four;
    color: rgba(0, 0, 0, 0.414);
    padding: 0.25rem 0 0 0;
}

/* POPUP */

.pop-up {
    display: none;
    position: fixed;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, 2.5%);
    background: var(--white-btn);
    padding: 1rem;
    border: 3px solid var(--bgdark);
    border-radius: 0.5rem;
    width: 80%;
    max-width: 50em;
    justify-content: space-between;
    align-items: center;
    color: var(--bgdark);
}

.slide {
    display: flex;
    animation: slideup 5s ease-in-out;
}

@keyframes slideup {
    from {
        transform: translate(-50%, 200%);
    }

    10% {
        transform: translate(-50%, 2.5%);
        opacity: 1;
    }

    90% {
        transform: translate(-50%, 2.5%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, 200%);
        opacity: 0;
    }

}

@media(min-width: 60em) {
    .hr-vert {
        transform: rotate(90deg);
        width: 33rem;
    }

    .loginWrapper {
        grid-template-columns: 1fr 30px 1fr;
    }

    .main-content-wrapper {
        grid-template-columns: 2fr 1fr;
    }

    aside {
        order: 2
    }

    .nav-container {
        flex-flow: row nowrap;
    }

    .btn {
        transform: scale(1);
    }
}